@import "tailwindcss";
@plugin "tailwindcss-intersect";
@plugin "tailwindcss-motion";


:root{
    --bg-color: #2446C7;
    --fg-color: #EDEEF7;
        --fg-tinted-color: #B3B4BD;
    --accent-color: #0FDBF7;
        --accent-tinted-color: #13B8CF;
    --txt-color: #001220;
    --lion-color: #FFD700;
    --panther-color: #014D4E;
    --jay-color: #1E90FF;
    --tiger-color: #FF6A00;
    --robin-color: #A61E20;
    --giraffe-color: #D2B48C;
    --bee-color: #FFCC00;
    --cow-color: #F5F5DC;
    --pig-color: #F4C2C2;
    --donkey-color: #A9A9A9;
    --fish-color: #A9A9F5;
    --hippo-color: #708090;
    --panda-color: #2E8B57;
    --wolf-color: #C0C0C0;
    --deer-color: #CD853F;
    --bear-color: #804D3B;
}

.dark{
    --bg-color: #C62368;
    --fg-color: #001220;
        --fg-tinted-color: #20282E;
    --accent-color: #F7770F;
        --accent-tinted-color: #CC6410;
    --txt-color: #EDEEF7;
    --lion-color: #FFB000;
    --panther-color: #2F4F4F;
    --jay-color: #004080;
    --tiger-color: #CC5500;
    --robin-color: #5A1E0A;
    --giraffe-color: #8B5E3C;
    --bee-color: #996600;
    --cow-color: #A9A98A;
    --pig-color: #E75480;
    --donkey-color: #505050;
    --fish-color: #014D4E;
    --hippo-color: #483C46;
    --panda-color: #006400;
    --wolf-color: #708090;
    --deer-color: #5C3317;
    --bear-color: #3B1C0A;
}

.move-l{
    @apply intersect:motion-translate-x-in-[75%] intersect:motion-translate-y-in-[0%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-r{
    @apply intersect:motion-translate-x-in-[-75%] intersect:motion-translate-y-in-[0%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-d{
    @apply intersect:motion-translate-x-in-[0%] intersect:motion-translate-y-in-[-75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-u{
    @apply intersect:motion-translate-x-in-[0%] intersect:motion-translate-y-in-[75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-lu{
    @apply intersect:motion-translate-x-in-[75%] intersect:motion-translate-y-in-[75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-ld{
    @apply intersect:motion-translate-x-in-[75%] intersect:motion-translate-y-in-[-75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-ru{
    @apply intersect:motion-translate-x-in-[-75%] intersect:motion-translate-y-in-[75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.move-rd{
    @apply  intersect:motion-translate-x-in-[-75%] intersect:motion-translate-y-in-[-75%] intersect:motion-blur-in-[10px] intersect:motion-duration-[1.13s]/translate motion-delay-[0.35s]/blur motion-ease-spring-bouncy;
}

.bg-tile-gradient{
    @apply bg-gradient-to-br from-[var(--fg-color)] via-[var(--fg-color)] to-[var(--fg-tinted-color)];
}

.pop-button{
    @apply shadow-[4px_4px_0px_0px_#1e293b] transition-all duration-200 hover:translate-x-1 hover:translate-y-1 hover:shadow-none;
}

.link-text{
    @apply text-[var(--accent-color)] hover:text-[var(--bg-color)] transition-all duration-300;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--fg-color);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--accent-tinted-color);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: var(--fg-tinted-color);
    border-radius: 5px;
}

@font-face {
    font-family: "Doodly";
    src: url("../font/Doodly-Regular.ttf") format("truetype");
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DoodlyBubble";
    src: url("../font/DoodlyBubble-Regular.ttf") format("truetype");
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Tirra";
    src: url("../font/Tirra-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KiwiMaru";
    src: url("../font/KiwiMaru-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KiwiMaru";
    src: url("../font/KiwiMaru-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KiwiMaru";
    src: url("../font/KiwiMaru-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme{
    --font-main: "Inter", "Tirra", Roboto, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial;
    --font-titles: "KiwiMaru", Courier New, "Doodly";
}
